# Zajƒôcia 2

## Podsumowanie poprzednich zajƒôƒá:
* Zapoznanie siƒô z dwoma ≈õrodowiskami obliczeniowymi (klaster oraz chmura Google). 
* Operacje na rozproszonym systemie plik√≥w (HDFS)
* Operacje na obiektowym systemie plik√≥w (GCS)
* Operacje na rozproszonych danych przy wykorzystaniu Apache Spark (API DataFrame)

## Zakres dzisiejszych zajƒôƒá:
* [ASZ] Analiza rozproszonych danych przy wykorzystaniu modu≈Çu Spark SQL
* [ASZ] Wprowadzenie modu≈Çu pandas
* [ASZ] Wizualizacje przy wykorzystaniu matplotlib oraz seaborn
* [TGA] Budowa modelu klasyfikatora przy wykorzystaniu modu≈Çu Spark ML.

Praca wy≈ÇƒÖcznie na ≈õrodowisku Google Kubernetes Engine. Zak≈Çadamy podstawowƒÖ znajomo≈õƒá jƒôzyka SQL.

üôè Podziƒôkowania dla Operatora Chmury Krajowej (https://chmurakrajowa.pl/) i Google Poland za udostƒôpnienie infrastruktury i pokrycie koszt√≥w wykorzystania zasob√≥w podczas zajƒôƒá. üôè


## Kubernetes

Kubernetes (k8s) to otwarta platforma do koordynacji wysoko dostƒôpnego klastra. 
* Umo≈ºliwia  deklaratywnƒÖ konfiguracjƒô, automatyzacjƒô wdra≈ºania, skalowanie i autoskalowanie rozwiƒÖza≈Ñ.
* Pozwala uruchamiaƒá aplikacje/narzƒôdzie bez przypisywania ich do konkretnej maszyny. Aplikacje muszƒÖ byƒá niezale≈ºne od konkretnego serwera: muszƒÖ byƒá skonteneryzowane.
* Mo≈ºliwe do uruchomienia na prywatnym centrum danych, infrastrukturze hybrydowej lub chmurze publicznej.


**Klaster Kubernetes**  
* **Wƒôze≈Ç sterujƒÖcy (Master node)** koordynuje dzia≈Çanie klastra np. zlecanie uruchomienia aplikacji, utrzymywanie po≈ºƒÖdanego stanu aplikacji, skalowanie aplikacji i instalowanie nowych wersji
* **Wƒôze≈Ç roboczy (Worker node)** Na wƒôz≈Çach uruchamiane sƒÖ aplikacje. Na ka≈ºdym wƒô≈∫le dzia≈Ça agent zarzƒÖdzajƒÖcy tym wƒôz≈Çem i komunikujƒÖcy siƒô z masterem Kubernetes (API). Wƒôze≈Ç zawiera tak≈ºe narzƒôdzia do obs≈Çugi kontener√≥w

**Pod** to grupa jednego/wielu kontener√≥w wraz ze wsp√≥lnymi zasobami (np. dysk). Pod tworzy "wirtualney serwer" i mo≈ºe zawieraƒá r√≥≈ºne kontenery aplikacji wsp√≥≈ÇdzielƒÖce zasoby i kontekst wykonawczy na tym samym wƒô≈∫le.
* Pod jest uruchamiany na wƒô≈∫le roboczym. Wƒôze≈Ç jest maszynƒÖ roboczƒÖ, fizycznƒÖ lub wirtualnƒÖ, w zale≈ºno≈õci od klastra. 
* Wƒôze≈Ç mo≈ºe zawieraƒá wiele pod√≥w. 
* Kubernetes master automatycznie zleca uruchomienie pod√≥w na r√≥≈ºnych wƒôz≈Çach w ramach klastra. Automatyczne zlecanie uruchomienia bierze pod uwagƒô zasoby dostƒôpne na ka≈ºdym z wƒôz≈Ç√≥w.

![](../img/gke.png)

## Wczytanie danych

Bedziemy wykorzystywaƒá danye z ankiety StackOverflow z 2020.

https://insights.stackoverflow.com/survey/

Dane sa dostepne na google drive. Skorzystamy z modu≈Çu GoogleDriveDownloader, ktory pozwala pobrac dokument o podanym id.

In [ ]:
from google_drive_downloader import GoogleDriveDownloader as gdd

In [ ]:
from pathlib import Path
path_dir = str(Path.home()) + "/data/2020/"  # ustawmy sciezke na HOME/data/2020
archive_dir = path_dir + "survey.zip"        # plik zapiszemy pod nazwa survey.zip

In [ ]:
path_dir

In [ ]:
archive_dir

In [ ]:
# sciagniecie pliku we wskazane miejsce
gdd.download_file_from_google_drive(file_id='1dfGerWeWkcyQ9GX9x20rdSGj7WtEpzBB',
                                    dest_path=archive_dir,
                                    unzip=True)

## <span style='background:yellow'> ZADANIE 1 </span>
Zapoznaj sie z plikami tekstowymi (survey_results_public.csv oraz survey_results_schema.csv). Podejrzyj ich zawarto≈õƒá, sprawd≈∫ ich wielko≈õƒá (liczba liniii oraz rozmiar). Wgraj plik do swojego kube≈Çka na GCS do survey/2020/ gs://bdg-lab-$USER/survey/2020/. Jesli nie masz kube≈Çka stw√≥rz go.

##  Pod≈ÇƒÖczenie do sesji Spark na GKE

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
.builder \
.config('spark.driver.memory','1g')\
.config('spark.executor.memory', '1g') \
.getOrCreate()

## Dostƒôp do danych na GCS

In [ ]:
import os
user_name = os.environ.get('USER')
print(user_name)

In [ ]:
# ≈õcie≈ºka dostƒôpu do pliku na GCS
gs_path = f'gs://bdg-lab-{user_name}/survey/2020/survey_results_public.csv'

In [ ]:
gs_path

## Spark SQL

Platforma Apache Spark posiada komponent Spark SQL, kt√≥ry pozwala traktowaƒá dane jak tabele w bazie danych. Mo≈ºna zak≈Çadaƒá swoje schematy baz danych oraz korzystaƒá z jƒôzyka SQL.

In [ ]:
spark.sql("show databases").show() # jakie sƒÖ schematy baz danych (logicznie zgrupowane zestawy tabel)

In [ ]:
db_name = user_name.replace('-','_')  
db_name

In [ ]:
spark.sql(f'DROP DATABASE IF EXISTS {db_name} CASCADE')  # jesli taki schemat istnial to go usun
spark.sql(f'CREATE DATABASE {db_name}')                  # stworz taki schemat 
spark.sql(f'USE {db_name}')                              # wykorzystaj go jako domyslny

In [ ]:
spark.sql("show databases").show() # jakie sƒÖ schematy baz danych (logicznie zgrupowane zestawy tabel)

In [ ]:
table_name = "survey_2020"                               # nazwa tabeli ktora bedziemy chcieli stworzyc

In [ ]:
spark.sql(f'DROP TABLE IF EXISTS {table_name}')       # usun te tabele jesli istniala wczesniej 

# stworz tabele korzystajac z danych we wskazanej lokalizacji
spark.sql(f'CREATE TABLE IF NOT EXISTS {table_name} \
          USING csv \
          OPTIONS (HEADER true, INFERSCHEMA true) \
          LOCATION "{gs_path}"')

## Weryfikacja danych 
Sprawdzmy zaczytane dane.

In [ ]:
spark.sql(f"describe {table_name}").show() # nie wszystkie dane ...

In [ ]:
spark.sql(f"describe {table_name}").show(100, truncate=False) # niepoprawne typy danych... "NA"

In [ ]:
spark.sql(f"SELECT DISTINCT Age FROM {table_name} ORDER BY Age DESC").show()

## Obs≈Çuga wartosci 'NA' - ponowne stworzenie tabeli

In [ ]:
spark.sql(f'DROP TABLE IF EXISTS {table_name}')

# wykorzystujemy dodatkowƒÖ opcjƒô: NULLVALUE "NA"
spark.sql(f'CREATE TABLE IF NOT EXISTS {table_name} \
          USING csv \
          OPTIONS (HEADER true, INFERSCHEMA true, NULLVALUE "NA") \
          LOCATION "{gs_path}"')

In [ ]:
spark.sql(f"DESCRIBE {table_name}").show(100)

In [ ]:
spark.sql(f"SELECT DISTINCT  Age FROM {table_name} ORDER BY Age DESC").show()

In [ ]:
# sprawdzenie liczno≈õci tabeli
spark.sql(f"select count(*) from {table_name}").show()

In [ ]:
spark.sql(f"select count(*) from {table_name}").explain()  # tak jak na poprzednich zajeciach mozemy wygenerowac plany wykonania polecenia

In [ ]:
df = spark.sql(f"select * from {table_name}")  # mozemy tez w zapytaniu SELECT pobrac wszystkie wiersze i kolumny i zapisac je jako DF (jak na poprzednich zajeciach)
df

## PodglƒÖd danych

In [ ]:
spark.sql(f"select * from {table_name}").show()

## Biblioteka Pandas

https://pandas.pydata.org/

Modu≈Ç Pandas jest bibliotekƒÖ PythonowƒÖ do manipulacji danymi. W szczegolnosci w pandas mozemy stworzyc ramki danych i wykonywac na niej analize, agregacje oraz wizualizacje danych. 
Przy nieduzych zbiorach danych i prostych operacjach to doskona≈Ça biblioteka. Jednak kiedy zbior danych sie rozrasta lub kiedy wymagane sa zlozone transformacje to operacje moga byc wolne.

Operacje na rozproszonych danych sa szybsze. Ale tu takze napotykamy ograniczenia np trudno≈õƒá¬†w wizualizacji danych.

In [ ]:
import pandas as pd

In [ ]:
spark.sql(f"select * from {table_name} limit 10").toPandas()

**Wa≈ºne** Metoda toPandas() na ramce pyspark, konwertuje ramkƒô pyspark do ramki pandas. Wykonuje akcje pobrania wszystkich danych z executor√≥w (z JVM) i transfer do  programu sterujacego (driver) i konwersje do typu Pythonowego w notatniku. Ze wzglƒôdu na ograniczenia pamiƒôciowe w programie sterujƒÖcym nale≈ºy to wykonywaƒá na podzbiorach danych.

In [ ]:
dist_df = spark.sql(f"select * from {table_name} LIMIT 10")
local_df = spark.sql(f"select * from {table_name} LIMIT 10").toPandas()

In [ ]:
type(dist_df)  # dataframe Sparkowy ("przepis na dane, rozproszony, leniwy")

In [ ]:
type(local_df)  # dataframe Pandasowy (lokalny, sciƒÖgniƒôty do pamiƒôci operacyjnej)

In [ ]:
dist_df.show()

In [ ]:
local_df

In [ ]:
pd.set_option('max_columns', None)    # pokazuj wszystkie kolumny
# pd.reset_option(‚Äúmax_columns‚Äù)

## <span style='background:yellow'> ZADANIE 2 </span>
Napisz w Spark SQL zapytanie kt√≥re zwr√≥ci ≈õredniƒÖ liczbƒô godzin przepracowywanych przez z respondent√≥w pogrupowanych ze wzglƒôdu na kraj. Nastƒôpnie przekszta≈Çƒá wynik do ramki pandasowej i jƒÖ wy≈õwietl.

## Wizualizacje

Do wizualizacji bƒôdziemy siƒô pos≈Çugiwaƒá modu≈Çami matplotlib (https://matplotlib.org/) i seaborn (https://seaborn.pydata.org/). Do bardzo rozbudowane modu≈Çy, zachƒôcamy do eksploracji oficjalnych dokumentacji. Na zajƒôciach zrealizujemy nastƒôpujƒÖce wykresy:
* histogramy
* liniowe 
* wiolinowe
* ko≈Çowe 

Modu≈Çy wizualizacyjne wymagajƒÖ danych na lokalnej maszynie. MogƒÖ byƒá to natywne typy danych Pythonowe (s≈Çowniki, listy) ale tak≈ºe np ramki danych pandasowe. ~~Nie dzia≈Ça wizualizacja na ramkach danych Sparkowych.~~

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

## Narysuj histogram wieku respondent√≥w

In [ ]:
# przygotowanie danych
# przycinamy dane tylko do zakresu ktory jest potrzebny do realizacji polecenia
ages = spark.sql(f"SELECT CAST (Age AS INT) \
                    FROM {table_name} \
                    WHERE age IS NOT NULL \
                    AND age BETWEEN 10 AND 80").toPandas()

In [ ]:
ages

In [ ]:
ages.hist("Age", bins=10)

In [ ]:
sns.displot(ages, bins=10, rug=True, kde=False)

## Jaki jest udzia≈Ç programist√≥w hobbist√≥w? Narysuj wykres ko≈Çowy

Bƒôdzie nas interesowa≈Ça ta proporcja ze wzglƒôdu na p≈Çeƒá.

In [ ]:
# przygotowanie (filtrowanie, grupowanie i zliczenie) danych na rozproszonych danych (spark sql)
# pozniej pobranie do pandasowej ramki
hobby_all = spark.sql(f"SELECT Hobbyist, COUNT(*) AS cnt FROM {table_name} WHERE Hobbyist IS NOT NULL GROUP BY Hobbyist").toPandas()
hobby_men = spark.sql(f"SELECT Hobbyist, COUNT(*) AS cnt FROM {table_name} WHERE Hobbyist IS NOT NULL AND Gender='Man' GROUP BY Hobbyist").toPandas()
hobby_women = spark.sql(f"SELECT Hobbyist, COUNT(*) AS cnt FROM {table_name} WHERE Hobbyist IS NOT NULL AND Gender='Woman' GROUP BY Hobbyist").toPandas()

In [ ]:
hobby_all.plot.pie(y='cnt', labels=hobby_all['Hobbyist'], title="All", autopct='%.0f')
plt.legend(loc="lower center")
plt.show()

In [ ]:
hobby_men.plot.pie(y='cnt', labels=hobby_men['Hobbyist'], title="Men", autopct='%.0f')
plt.legend(loc="lower center")
plt.show()

In [ ]:
hobby_women.plot.pie(y='cnt', labels=hobby_women['Hobbyist'], title="Women", autopct='%.0f')
plt.legend(loc="lower center")
plt.show()

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=3, figsize=(15,5))

hobby_all.plot.pie(y='cnt', labels=hobby_all['Hobbyist'], title="All", ax=axes[0], autopct='%.0f')
hobby_men.plot.pie(y='cnt', labels=hobby_men['Hobbyist'], title="Men", ax=axes[1], autopct='%.0f')
hobby_women.plot.pie(y='cnt', labels=hobby_men['Hobbyist'], title="Women", ax=axes[2], autopct='%.0f')

plt.show()

## Wykres liniowy. Zale≈ºno≈õƒá miƒôdzy wiekiem a liczbƒÖ przepracowanych godzin
InteresujƒÖ nas dla developerzy profesjonali≈õci (nie hobbi≈õci) w przedziale wiekowym 18-65.

In [ ]:
# przygotowanie (filtrowanie, grupowanie, wyliczenie sredniej oraz sortowanie) danych na rozproszonych danych (spark sql)
# pozniej pobranie do pandasowej ramki

age_work = spark.sql(f"SELECT age, CAST (avg(WorkWeekHrs) AS INT) AS avg FROM {table_name} \
            WHERE WorkWeekHrs IS NOT NULL AND age BETWEEN 18 AND 65 AND hobbyist = 'No' \
            GROUP BY age \
            ORDER BY age ASC").toPandas()

In [ ]:
age_work

In [ ]:
age_work.plot(x='age', y='avg', kind='line')

In [ ]:
sns.relplot(x="age", y="avg", kind="line", data=age_work);

## Wykres s≈Çupkowy. Poka≈º liczbƒô respondent√≥w na kraj

Interesuje nas tylko 10 kraj√≥w o najwy≈ºszej liczbie respondentow.

In [ ]:
# przygotowanie (grupowanie, zliczenie, sortowanie oraz przyciecie do 10 wynik√≥w) danych na rozproszonych danych (spark sql)
# pozniej pobranie do pandasowej ramki

max_countries = spark.sql(f"SELECT country, COUNT(*) AS cnt \
                FROM {table_name} \
                GROUP BY country \
                ORDER BY cnt DESC \
                LIMIT 10 ").toPandas()

In [ ]:
max_countries.plot.bar(y='cnt', x='country')
plt.show()

In [ ]:
sns.catplot(x="country", y="cnt", kind="bar",\
            data=max_countries).set_xticklabels(rotation=65)
plt.show()

## Wykres s≈Çupkowy. ≈örednie zarobki w  krajach w ktorych jest powyzej 1000 respondent√≥w

In [ ]:
# przygotowanie (filtrowanie, grupowanie, wyliczenie sredniej, filtrowanie po liczno≈õci i grup oraz sortowanie) danych na rozproszonych danych (spark sql)
# pozniej pobranie do pandasowej ramki

country_salary = spark.sql(f"SELECT country, \
    CAST (avg(ConvertedComp) AS INT) as avg \
    FROM {table_name} \
    WHERE country IS NOT NULL \
    GROUP BY country \
    HAVING COUNT(*) > 1000 \
    ORDER BY avg DESC ").toPandas()

In [ ]:
country_salary.plot.barh(("country"))
plt.show()

## Boxplot. Pokaz rozklad pensji w krajach gdzie jest powyzej 1000 respondent√≥w
Tutaj bƒôdziemy musieli skorzystaƒá z podzapytania.

In [ ]:
# przygotowanie danych na rozproszonych danych (spark sql). Mamy tu do czynienia z podzapytaniem
# pozniej pobranie do pandasowej ramki

country_comp = spark.sql(f"SELECT country, CAST(ConvertedComp AS INT) \
                FROM {table_name} \
                WHERE country IN (SELECT country FROM {table_name} GROUP BY country HAVING COUNT(*) > 1000) \
                AND ConvertedComp IS NOT NULL AND ConvertedComp > 0 \
                ORDER BY ConvertedComp desc").toPandas()
country_comp

In [ ]:
country_comp.boxplot(column="ConvertedComp", by="country", \
                     showfliers=False, rot=60, meanline=True)
plt.show()

In [ ]:
sns.catplot(x="country", y="ConvertedComp", kind="box", \
            showfliers=False, data=country_comp, palette="Blues")\
    .set_xticklabels(rotation=65)
plt.show()

## <span style='background:yellow'> ZADANIE 3 </span>
Narysuj rozklad pensji w zaleznosci od plci.

## Narysuj wykres popularnosci jezykow programowania

In [ ]:
spark.sql(f"select LanguageWorkedWith from {table_name} where LanguageWorkedWith IS NOT NULL").show(truncate=False)

Jƒôzyki programowania sƒÖ zapisane w pojedynczej kom√≥rce. Bƒôdzie trzeba je rozdzieliƒá i zliczyƒá. Tak przygotowane dane dopiero pos≈Çu≈ºƒÖ nam do narysowania wykresu. Wykorzystamy funkcjƒô `posexplode`.

In [ ]:
langs = spark.sql(f"select LanguageWorkedWith from {table_name} where LanguageWorkedWith IS NOT NULL")

In [ ]:
from pyspark.sql.functions import *

langs.select(
        posexplode(split("LanguageWorkedWith", ";")).alias("pos", "language")
    ).show()

In [ ]:
langs.select(
        posexplode(split("LanguageWorkedWith", ";")).alias("pos", "language")).groupBy("language").count().orderBy("count").show()

In [ ]:
langs_pd = langs.select(
        posexplode(split("LanguageWorkedWith", ";")).alias("pos", "language")).groupBy("language").count().orderBy("count").toPandas()
langs_pd

In [ ]:
from matplotlib.pyplot import figure

figure(figsize=(8, 9))
plt.barh(width=langs_pd["count"], y=langs_pd["language"])
plt.show()

## Narysuj wykres popularnosci jezykow wsrod Data Scientists

Zdefiniujmy sobie funkcjƒô, kt√≥ra przekszta≈Çca nam jƒôzyki do wymaganej przez nas postaci

In [ ]:
from pyspark.sql.functions import *

def prepare_lang(df, colName='LanguageWorkedWith'):
    summary = df.select(posexplode(split(colName, ";")).alias("pos", "language")).groupBy("language").count().orderBy("count")
    return summary

In [ ]:
langs_ds = spark.sql(f"SELECT LanguageWorkedWith \
                FROM {table_name} \
                WHERE DevType LIKE '%Data scientist%'")

sum_lang = prepare_lang(langs_ds).toPandas()

figure(figsize=(8, 9))
plt.barh(width=sum_lang["count"], y=sum_lang["language"])
plt.show()

## Narysuj wykres kt√≥rego chcƒÖ wykorzystywaƒá w przysz≈Ço≈õci Data Scientists

In [ ]:
lang_desired = spark.sql(f"select LanguageDesireNextYear \
                from {table_name} \
                where DevType like '%Data scientist%'")

sum_lang = prepare_lang(lang_desired, 'LanguageDesireNextYear').toPandas()

figure(num=None, figsize=(8, 9), dpi=80, facecolor='w', edgecolor='k')
plt.barh(width=sum_lang["count"], y=sum_lang["language"])
plt.show()

## Narysuj wykres prezentujƒÖcy liczbƒô godzin na pracy w zale≈ºno≈õci od wykszta≈Çcenia

In [ ]:
spark.sql(f"select distinct EdLevel from {table_name}").show(truncate=False) # jakie sƒÖ warto≈õci wykszta≈Çcenia

In [ ]:

ed_pandas = spark.sql(f"SELECT EdLevel, WorkWeekHrs FROM {table_name} \
            WHERE WorkWeekHrs BETWEEN 10 AND 80 \
            AND (EdLevel LIKE '%Bachelor%' OR EdLevel LIKE '%Master%' OR EdLevel LIKE '%Other doctoral%')").toPandas()

ed_pandas['EdLevel'] = ed_pandas['EdLevel'].replace('Bachelor‚Äôs degree (B.A., B.S., B.Eng., etc.)','Bachelor')
ed_pandas['EdLevel'] = ed_pandas['EdLevel'].replace('Master‚Äôs degree (M.A., M.S., M.Eng., MBA, etc.)','Master')
ed_pandas['EdLevel'] = ed_pandas['EdLevel'].replace('Other doctoral degree (Ph.D., Ed.D., etc.)','Doctor')

ed_pandas

In [ ]:
sns.catplot(x="EdLevel", y="WorkWeekHrs", data=ed_pandas)

## Narysuj wykres wiolinowy pokazujacy rozk≈Çad dochod√≥w w zale≈ºno≈õci od wykszta≈Çcenia

In [ ]:
ed_pay = spark.sql(f"SELECT EdLevel, CAST (CompTotal AS INT) AS CompTotal FROM {table_name} \
            WHERE CompTotal BETWEEN 0 AND 1000000  \
            AND (EdLevel LIKE '%Bachelor%' OR EdLevel LIKE '%Master%' OR EdLevel LIKE '%Other doctoral%')").toPandas()

ed_pay['EdLevel'] = ed_pay['EdLevel'].replace('Bachelor‚Äôs degree (B.A., B.S., B.Eng., etc.)','Bachelor')
ed_pay['EdLevel'] = ed_pay['EdLevel'].replace('Master‚Äôs degree (M.A., M.S., M.Eng., MBA, etc.)','Master')
ed_pay['EdLevel'] = ed_pay['EdLevel'].replace('Other doctoral degree (Ph.D., Ed.D., etc.)','Doctor')

ed_pay

In [ ]:
sns.catplot(x="EdLevel", y="CompTotal", kind="boxen",
            data=ed_pay);

## ‚≠ê Narysuj heatmape odwiedzin na StackOverflow dla wybranych kraj√≥w ‚≠ê

In [ ]:
spark.sql(f"SELECT DISTINCT SOVisitFreq FROM {table_name}").show(truncate=False)

In [ ]:
so_v = spark.sql(f"SELECT SOVisitFreq, t1.country, COUNT(*)/first(t2.t) AS cnt from {table_name} t1 \
            JOIN (SELECT country, COUNT(*) as t FROM {table_name} GROUP BY country) t2 \
            ON t1.country = t2.country \
            WHERE t1.country IS NOT NULL AND SOVisitFreq IS NOT NULL \
            AND t1.country IN ('Poland', 'United States', 'Russian Federation', 'China', 'India', 'Germany', 'Japan') \
            GROUP BY t1.country, SOVisitFreq").toPandas()

so_v['SOVisitFreq'] = pd.Categorical(so_v['SOVisitFreq'], ["I have never visited Stack Overflow (before today)", "Less than once per month or monthly", "A few times per month or weekly", "A few times per week", "Daily or almost daily", "Multiple times per day"])
# so_v.sort_values['SOVisitFreq']

In [ ]:
heatmap2_data = pd.pivot_table(so_v, values='cnt', index=['country'], columns='SOVisitFreq')
sns.heatmap(heatmap2_data, cmap="BuGn")

## <span style='background:yellow'> ZADANIE 4 </span>
* Narysuj wykres s≈Çupkowy popularno≈õci wykorzystywanych baz danych przez profesjonalnych programist√≥w.
* Narysuj wykres ko≈Çowy przedstawiajƒÖcy procentowy udzia≈Ç poziomu wykszta≈Çcenia inz, mgr i dr w grupie respondent√≥w.